body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
a {
    color: #0077b5; /* LinkedIn's brand color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#experience {
    background-color: #f4f4f4;
    padding: 20px;
}

.experience-entry {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.experience-entry h3 {
    margin-top: 0;
}

.date {
    font-style: italic;
    color: #666;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.experience-entry a {
    color: #0077cc;
    text-decoration: none;
}

.experience-entry a:hover {
    text-decoration: underline;
}

#education {
    background-color: #f4f4f4;
    padding: 20px;
}

.education-entry {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.education-entry h3 {
    margin-top: 0;
}

.education-photo {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    height: auto;
    display: block;
    margin: 0 auto; /* Centering the image */
}

nav {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#home {
    background: url('home-background.jpg') no-repeat center center/cover;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    text-align: center;
}

section {
    padding: 40px 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}
